<div class="createtask">
  <button type="button" class="btn btn-outline-dark btn-block hidebtn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    新規タスク
  </button>
  <div class="collapse" id="collapseExample">
    <div class="card" style="margin-top: -1rem;">
      <div class="card-body show-info" style="display: block;">
        <%= form_with(model: @task, local: true) do |f| %>
          <div class="form-group row">
            <label class="col-sm-2 col-form-label text-muted" for="">タスク追加</label>
            <div class="col-sm-9">
              <%= f.text_field :content, class:'form-control' %>
            </div>
          </div>

          <div class="form-group row">
            <%= f.fields_for :histories do |history| %>
              <label class="col-sm-2 col-form-label text-muted" for="">最終実行日</label>
              <div class="col-sm-9">
                <%= history.text_field :action_at, id: "flatpickr", class: 'form-control bg-white', type: "text", readonly:""%>
              </div>
            <% end %>
          ​</div>
          <div class="text-right">
            <%= f.submit '新規作成', class: 'btn btn-outline-dark' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
<%#======================================%>
<div class="task_index">
  <% @tasks.each do |task| %>
    <% @histories = task.histories.order(action_at: :desc).first %>
    <div class="card">
      <div class="card-body">
        <p style="width: 50px;"><%= image_tag task.icon.thumb.url %></p>
        <div class="row index-namedate">
          <h4 class="task-title col-md-5"><%= link_to task.content, task, style: "color: #555555;" %></h4>
          <div class="col-md-6">
            <% if @histories.present? %>
              <h5><%= (Date.today - @histories.action_at).to_i %> DAYS AGO</h5> 
            <% else %>
              <h5 class="text-warning">NO DATE</h5>
            <% end %>
          </div>
        </div>
        <div class="task_menu">
          <%= form_with(model:[task, @history]) do |f| %>
            <%= f.hidden_field :task_id, :value => task.id %>
            <%= f.hidden_field :action_at, :value => Date.today %>
            <%= f.submit 'TODAY', class: 'btn btn-outline-dark mb-1' %>
          <% end %>
          <button type="button" class="btn btn-dark" style="width:78.78px"><%= link_to 'show', task %></button>
        </div>
        <div class="my-auto ml-1">
          <%= link_to task, method: :delete, data: 
            { confirm: 'タスクを削除しますか?',
              cancel: 'やめる',
              commit: '削除する'}, title: '削除確認', class: 'deletebtn' do %>
            <i class="fa fa-lg fa-remove fa-fw" style="color:firebrick"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="csv-button row justify-content-end">
  <%= link_to "<< CSV EXPORT >>", tasks_path(format: :csv), class: 'mr-4', style: "color: #555555;" %>
</div>