<div class="createtask">
  <button type="button" class="btn btn-outline-info btn-block hidebtn" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    ADD NEW TASK
  </button>
  <div class="collapse" id="collapseExample">
    <%= form_with(model: @task, local: true) do |f| %>
      <div class="form-group row">
        <label class = "col-sm-2 col-form-label text-muted" for="">タスク名</label>
        <div class="col-sm-9">
          <%= f.text_field :content, class:'form-control' %>
        </div>
      </div>
      <div class="form-group row">
        <div class="input-group date" data-target-input="nearest">
          <%= f.fields_for :histories do |history| %>
            <label class = "col-sm-2 col-form-label text-muted" for="">最終実行日</label>
            <div class="col-sm-9 historyinput">
              <%= history.text_field :action_at, id: "action_at", class: 'form-control datetimepicker-input', data: { target: '#action_at'} %>
              <span class = "input-group-append" data-target = "#action_at" data-toggle = "datetimepicker">
                  <span class = "input-group-text"><i class = "fa fa-calendar"></i></span>
              </span>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-right">
        <%= f.submit '作成', class: 'btn btn-outline-info' %>
      </div>
    <% end %>
  </div>
</div>
<%#======================================%>
<div class="task_index">
  <% @tasks.each do |task| %>
    <div class="card">
      <div class="card-body">
        <p><%= image_tag task.icon.thumb.url %></p>
        <div class="row index-namedate">
          <h4 class="col-md-6 text-dark"><%= task.content %></h4>
          <% @history = task.histories.order(action_at: :desc).first %>
          <div class="col-md-6">
            <% if @history.present? %>
              <h5><%= (Date.today - @history.action_at).to_i %> DAYS AGO</h5> 
            <% else %>
              <h5>NO DATE</h5>
            <% end %>
          </div>
        </div>
        <div class="task_menu">
          <button type="button" class="btn btn-info btn-sm"><%= link_to '詳細', task %></button>
          <%= link_to task, method: :delete, data: { confirm: 'タスクを削除しますか?' } do %>
            <i class="fa fa-lg fa-remove fa-fw" style="color:firebrick"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>