<%= form_with(model: @task, local: true) do |f| %>
  <label class = "control-label" for="">タスク名</label>
  <%= f.text_field :content %>

  <%= f.fields_for :histories do |history| %>
    <label class = "control-label" for="">最終実行日</label>
    <%= history.date_select :action_at, class: 'form-control' %>
  <% end %>

  <%= f.submit '作成' %>
<% end %>

<%= link_to '一覧に戻る', tasks_path %>